@charset "UTF-8";
html {
    box-sizing: border-box
}

*:before,
*:after box-sizing:inherit;
.container {
    width: 800
        px;
    margin-right: auto;
    margin-left: auto;
}


<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.css"> <link rel="stylesheet" href="css/stylenew.css"> body {
    width: 800px;
    text-decoration-line: line-through
}
  .page-header.home {
        font-size: 18px;
        margin-bottom: 0;
        color: 5adae2px;
    }


.h1 {
    font-family: 'Slabo 27px', serif;
    font-family: 'Trirong', serif;
}
.h2{
    font-size: 18px;
    border-color: antiquewhite;
    color: black
}

.head {
    font-family: 'Slabo 27px', serif;
    font-family: 'Trirong', serif;
}
.body {float: right
    .color:#ffffff;
    
} 

.footer p {
    font-size: 10px;
    font-weight: 200;
    margin-top: auto;
}

 .footer-bottom {
        background-color: #1e1f1f;
        color: #fff;
    }